{% from "components/nav.jinja" import nav with context %}
{% from "components/sidebar.jinja" import sidebar with context %}


<!DOCTYPE html>
<html lang="en" class="md:text-xl">
    <head>
        <title>{% block title %}{% endblock %} - Manabu</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="styles/build.css") }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {# To include the sidebar inside of a page simply set with_sidebar to True #}
        {% if with_sidebar %}
            {{ sidebar() }}
        {% endif %}

        {# To include the nav inside of a page simply set with_nav to True #}
        {% if with_nav %}
            {{ nav(logo_text=logo_text) }}
        {% endif %}

        <div class="popup-container fixed left-1/2 top-4 flex h-fit w-9/12 -translate-x-1/2 flex-col gap-2 z-30"></div>

        {% block body %}{% endblock %}

        {# Initialize the site theme #}
        <script type="module">
            import { initTheme } from '/static/js/theme.js';

            initTheme();
        </script>

        {# Append flashed messages to the popup container #}
        <script type="module">
            import { createPopup, appendPopup } from '/static/js/popup.js';

            {% with flashed_messages = get_flashed_messages(with_categories = True) %}
                const popupContainer = document.querySelector('.popup-container');
                let popup;
                {% for category, message in flashed_messages %}
                    popup = createPopup("{{ category }}", "{{ message }}");
                    appendPopup(popup, popupContainer);
                {% endfor %}
            {% endwith %}
        </script>
    </body>
</html>
