<!DOCTYPE html>
<html lang="en" class="md:text-xl">
    <head>
        <title>{% block title %}{% endblock %} - Manabu</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="styles/build.css") }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="popup-container fixed left-1/2 top-4 flex h-fit w-9/12 -translate-x-1/2 flex-col gap-2 z-30"></div>

        {% block body %}{% endblock %}

        {# Append flashed messages to the popup container #}
        <script type="module">
            import { createPopup, appendPopup } from '/static/js/popup.js';

            {% with flashed_messages = get_flashed_messages(with_categories = True) %}
                const popupContainer = document.querySelector('.popup-container');
                let popup;
                {% for category, message in flashed_messages %}
                    popup = createPopup("{{ category }}", "{{ message }}");
                    appendPopup(popup, popupContainer);
                {% endfor %}
            {% endwith %}
        </script>
    </body>
</html>
