@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Megrim&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Comfortaa', 'sans-serif';
    /* This makes switching themes look nice */
    transition: background-color, color;
    transition-duration: 300ms;
}