{% from 'components/forms/form.jinja' import form_field %}
{% from 'components/icons.jinja' import identification, tag, clock, tick %}


{% macro add_todo_form(form) %}
     <div class="w-full max-w-screen-sm">
        <form action="{{ url_for("todos.add") }}" method="post">
            <div class="flex flex-col w-full gap-5">
                <div class="flex flex-col gap-3 w-full">
                    {{ form_field(form.title, identification, "Todo Title") }}
                    <div class="flex flex-col w-full md:gap-1">
                        {{ form.category.label(class="text-slate-500 dark:text-slate-400 text-sm font-extralight") }}
                        <div class="flex py-1.5 px-1 gap-2 items-center border-b border-b-slate-400 dark:border-b-slate-500">
                            {{ tag(class="text-slate-500 dark:text-slate-300 h-5 font-extralight md:h-7") }}
                            {{
                                form.category(
                                    class="hidden category-select outline-none !bg-slate-50 dark:!bg-slate-900 grow !h-full !text-slate-600 dark:!text-slate-300 text-sm drop-shadow !border-none !p-3 !z-10",
                                    value=request.form[form.category.name],
                                    placeholder=placeholder
                                )
                            }}
                        </div>
                        <script src="/static/js/lib/nice-select2.js"></script>
                        <link rel="stylesheet" href="/static/styles/lib/nice-select2.css">
                        <script type="module">
                            NiceSelect.bind(document.querySelector('.category-select'));
                        </script>
                        <style>
                            .nice-select {
                                display: flex;
                                align-items: center;
                            }

                            .nice-select-dropdown {
                                z-index: 20 !important;
                                background-color: #f8fafc !important;
                                overflow: hidden !important;
                                border-radius: 0.375rem !important;
                            }

                            .dark .nice-select-dropdown {
                                background-color: #0f172a !important;
                            }

                            .nice-select > .current {
                                font-size: 0.875rem !important;
                                line-height: 0.75rem;
                            }

                            .nice-select .nice-select-dropdown {
                                background-color: transparent;
                            }

                            .nice-select .list {
                                display: flex;
                                flex-direction: column;
                            }

                            .nice-select .option {
                                width: 100% !important;
                                line-height: 1rem !important;
                                padding: 0.6rem 2.5rem 0.6rem 1rem !important;
                                font-size: 0.875rem !important;
                                color: #475569 !important;
                                background-color: #f8fafc !important;
                            }

                            .dark .nice-select .option {
                                color: #cbd5e1 !important;
                                background-color: #0f172a !important;
                            }

                            .nice-select .option:hover {
                                background-color: #f1f5f9 !important;
                            }

                            .dark .nice-select .option:hover {
                                background-color: #020617 !important;
                            }

                            .nice-select .list:hover .option:not(:hover) {
                                background-color: #f8fafc !important;
                            }

                            .dark .nice-select .list:hover .option:not(:hover) {
                                background-color: #0f172a !important;
                            }
                        </style>
                    </div>
                    <div class="flex flex-col w-full md:gap-1">
                        <label for="date" class="text-slate-500 dark:text-slate-400 text-sm font-extralight">Due Date</label>
                        <div class="flex py-1.5 px-1 gap-2 items-center border-b border-b-slate-400 dark:border-b-slate-500">
                            {{ clock(class="text-slate-500 dark:text-slate-300 h-5 font-extralight md:h-7") }}
                            <input type="text" id="date" name="date" class="bg-slate-50 dark:bg-slate-900 w-full drop-shadow rounded-md text-slate-600 dark:text-slate-300 p-3 text-sm leading-none">
                        </div>
                    </div>
                    <script src="/static/js/lib/vanilla-calendar.min.js" defer></script>
                    <link rel="stylesheet" href="/static/styles/lib/vanilla-calendar.min.css">
                    <script type="module">
                        try {
                            date = new Date();
                            document.querySelector('#date').value = date.toISOString().split('T')[0];
                        } catch {}
                        const calendar = new VanillaCalendar('#date', {
                            input: true,
                            actions: {
                                clickDay(e) {
                                    document.querySelector('#date').value = e.target.dataset.calendarDay
                                }
                            },
                            settings: {
                                visibility: {
                                    theme: 'dark',
                                },
                              },
                        });
                        calendar.init();
                    </script>
                </div>
                <button type="submit" class="w-full rounded-lg bg-gradient-to-r from-indigo-800 to-indigo-500 py-1.5 text-sm font-extralight text-slate-100 transition-all duration-300 ease-in-out">Add Todo</button>
            </div>
        </form>
    </div>
{% endmacro %}

{% macro edit_todo_form(todo, form) %}
     <div class="w-full max-w-screen-sm">
        <form action="{{ url_for("todos.edit", todo_uuid=todo.uuid) }}" method="post">
            <div class="flex flex-col w-full gap-5">
                <div class="flex flex-col gap-3 w-full">
                    {{ form_field(form.title, identification, "Todo Title", value=form.title.data or todo.title) }}
                    <div class="flex flex-col w-full md:gap-1">
                        {{ form.completed.label(class="text-slate-500 dark:text-slate-400 text-sm font-extralight") }}
                        <div class="flex py-1.5 px-1 gap-2 items-center border-b border-b-slate-400 dark:border-b-slate-500">
                            {{ tick(class="text-slate-500 dark:text-slate-300 h-5 font-extralight md:h-7") }}
                            {% if todo.completed or form.completed.data == "y" %}
                                {{
                                    form.completed(
                                        class="outline-none bg-transparent h-full text-slate-600 dark:text-slate-300 text-sm",
                                        checked=""
                                    )
                                }}
                            {% else %}
                                {{
                                    form.completed(
                                        class="outline-none bg-transparent h-full text-slate-600 dark:text-slate-300 text-sm"
                                    )
                                }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col w-full md:gap-1">
                        {{ form.category.label(class="text-slate-500 dark:text-slate-400 text-sm font-extralight") }}
                        <div class="flex py-1.5 px-1 gap-2 items-center border-b border-b-slate-400 dark:border-b-slate-500">
                            {{ tag(class="text-slate-500 dark:text-slate-300 h-5 font-extralight md:h-7") }}
                            {{
                                form.category(
                                    class="hidden category-select outline-none !bg-slate-50 dark:!bg-slate-900 grow !h-full !text-slate-600 dark:!text-slate-300 text-sm drop-shadow !border-none !p-3 !z-10",
                                    value=todo.category.name if todo.category else ""
                                )
                            }}
                        </div>
                        <script src="/static/js/lib/nice-select2.js"></script>
                        <link rel="stylesheet" href="/static/styles/lib/nice-select2.css">
                        <script type="module">
                            NiceSelect.bind(document.querySelector('.category-select'));

                            const categorySelect = document.querySelector('#category');
                            if (categorySelect.getAttribute('value') !== '') {
                                const niceSelect = document.querySelector('.nice-select');
                                niceSelect.querySelector('.current').textContent = categorySelect.getAttribute('value');

                                const list = niceSelect.querySelector('.list');
                                list.querySelector('.selected').classList.remove('selected');

                                for (const item of list.children) {
                                    if (item.textContent === categorySelect.getAttribute('value')) {
                                        // Could not find another way to do this
                                        item.click();
                                        item.click();
                                    }
                                }
                            }
                        </script>
                        <style>
                            .nice-select {
                                display: flex;
                                align-items: center;
                            }

                            .nice-select-dropdown {
                                z-index: 20 !important;
                                background-color: #f8fafc !important;
                                overflow: hidden !important;
                                border-radius: 0.375rem !important;
                            }

                            .dark .nice-select-dropdown {
                                background-color: #0f172a !important;
                            }

                            .nice-select > .current {
                                font-size: 0.875rem !important;
                                line-height: 0.75rem;
                            }

                            .nice-select .nice-select-dropdown {
                                background-color: transparent;
                            }

                            .nice-select .list {
                                display: flex;
                                flex-direction: column;
                            }

                            .nice-select .option {
                                width: 100% !important;
                                line-height: 1rem !important;
                                padding: 0.6rem 2.5rem 0.6rem 1rem !important;
                                font-size: 0.875rem !important;
                                color: #475569 !important;
                                background-color: #f8fafc !important;
                            }

                            .dark .nice-select .option {
                                color: #cbd5e1 !important;
                                background-color: #0f172a !important;
                            }

                            .nice-select .option:hover {
                                background-color: #f1f5f9 !important;
                            }

                            .dark .nice-select .option:hover {
                                background-color: #020617 !important;
                            }

                            .nice-select .list:hover .option:not(:hover) {
                                background-color: #f8fafc !important;
                            }

                            .dark .nice-select .list:hover .option:not(:hover) {
                                background-color: #0f172a !important;
                            }
                        </style>
                    </div>
                    <div class="flex flex-col w-full md:gap-1">
                        <label for="date" class="text-slate-500 dark:text-slate-400 text-sm font-extralight">Due Date</label>
                        <div class="flex py-1.5 px-1 gap-2 items-center border-b border-b-slate-400 dark:border-b-slate-500">
                            {{ clock(class="text-slate-500 dark:text-slate-300 h-5 font-extralight md:h-7") }}
                            <input type="text" id="date" name="date" value="{{ form.date.data or todo.due_date }}" class="bg-slate-50 dark:bg-slate-900 w-full drop-shadow rounded-md text-slate-600 dark:text-slate-300 p-3 text-sm leading-none">
                        </div>
                    </div>
                    <script src="/static/js/lib/vanilla-calendar.min.js" defer></script>
                    <link rel="stylesheet" href="/static/styles/lib/vanilla-calendar.min.css">
                    <script type="module">
                        const calendar = new VanillaCalendar('#date', {
                            input: true,
                            actions: {
                                clickDay(e) {
                                    document.querySelector('#date').value = e.target.dataset.calendarDay
                                }
                            },
                            settings: {
                                visibility: {
                                    theme: 'dark',
                                },
                              },
                        });
                        calendar.init();
                    </script>
                </div>
                <button type="submit" class="w-full rounded-lg bg-gradient-to-r from-indigo-800 to-indigo-500 py-1.5 text-sm font-extralight text-slate-100 transition-all duration-300 ease-in-out">Save Changes</button>
            </div>
        </form>
    </div>
{% endmacro %}