{% extends "layout/base.jinja" %}


{% set with_nav = true %}
{% set with_sidebar = true %}
{% set logo_text = "dashboard" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
    Dashboard
{% endblock %}