{% extends "layout/base.jinja" %}
{% from "components/icons.jinja" import identification, lock %}
{% from "components/nav.jinja" import nav %}


{% set with_nav = True %}
{% block title %}Welcome{% endblock %}

{% block body %}
    Hello, world!
{% endblock %}