{% extends "layout/base.jinja" %}a
{% from "components/forms/auth.jinja" import login_form %}
{% from "components/icons.jinja" import logo_long_with_text %}


{% block title %}Register{% endblock %}

{% block body %}
    <img
        alt="Background"
        src="{{ url_for("static", filename="backgrounds/waves.svg") }}"
        class="w-screen h-screen fixed top-0 left-0 object-cover"
    >
    <div class="w-screen h-screen fixed top-0 left-0 items-center flex justify-center">
        <div class="w-screen-4/5 max-w-screen-sm p-10 bg-slate-100 dark:bg-slate-800 rounded-lg drop-shadow flex flex-col items-center gap-6 md:p-16">
            {{ logo_long_with_text(text="LOGIN", text_class="text-md text-slate-700 dark:text-slate-200 md:text-lg", logo_class="text-slate-800 dark:text-slate-100 h-12 md:h-16") }}
            {{ login_form(form=form) }}
        </div>
    </div>
{% endblock %}