{% extends "layout/base.jinja" %}


{% set with_nav = True %}
{% set with_sidebar = True %}
{% set logo_text = "categories" %}
{% block title %}Add Category{% endblock %}

{% block body %}
    Create category
{% endblock %}