{% extends "layout/base.jinja" %}
{% from "components/forms/category.jinja" import edit_category_form %}


{% set with_nav = True %}
{% set with_sidebar = True %}
{% set logo_text = "categories" %}
{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="lg:pl-12 lg:pt-7 w-full max-w-screen-sm flex flex-col px-7 py-4 gap-6">
        <p class="text-2xl text-slate-800 dark:text-slate-200 font-extralight">Edit Category</p>
        {{ edit_category_form(category=category, form=form) }}
    </div>
{% endblock %}